@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap");
@font-face {
  src: url(fonts/Kayak\ Sans\ Bold.otf);
  font-family: Kayak-Bold;
}

@font-face {
  src: url(fonts/Kayak\ Sans\ Regular.otf);
  font-family: Kayak Regular;
}

:root {
  --color-1: #7495a5;
  --color-2: #9fc1c7;
  --color-3: #bb5657;
  --color-4: #ad4100;
  --color-5: #e3a22a;
  --color-6: #c2aa90;
  --color-7: #402000;
  --color-8: #204c45;
  --color-9: #4a6040;

  --font-1: Kayak-Bold;
  --font-2: Kayak Regular;
  --font-3: "Playfair Display", serif;
  --main-text-color: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-2);
  background-color: white;
  color: var(--main-text-color);
}

.camlist {
  background-color: #9fc1c7;
}
/*MENU*/

#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e3a22a;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  transform: scale(0);
  transition: 0.5s;
  z-index: 2; /*changed from 1 to 2 bc changes in slider*/
}

#menu-overlay.active {
  transform: scale(1);
}

#menu-overlay ul {
  position: relative;
}

#menu-overlay ul li {
  position: relative;
  list-style: none;
  text-align: center;
  display: block;
}

#menu-overlay ul li a {
  text-decoration: none;
  position: relative;
  font-size: 3em;
  padding: 0 10px;
  margin-bottom: 10px;
  color: #ad4100;
  display: inline-block;
}

#menu-overlay ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ad4100;
  transform: translateY(-50%) scaleX(0);
  transform-origin: right;
  transition: 0.5s transform;
}

#menu-overlay ul li a:hover:before {
  transform: translateY(-50%) scaleX(1);
  transform-origin: left;
  transition: 0.5s transform;
}

#toggleIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3; /*changed from 2 to 3 bc changes in slider*/
  color: #c2aa90;
  cursor: pointer;
}

#toggleIcon p {
  color: antiquewhite;
  font-size: 1.5em;
}

#toggleIcon.active {
  text-decoration: line-through;
  color: #ad4100;
}

/* WELCOME MESSAGE */

#welcomeMsg {
  display: flex;
  background-color: var(--color-2);
}

#slideBG {
  width: 40%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 8s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url("images/79480034.JPG");
  z-index: 1;
}

@keyframes slideBg {
  0% {
    background-image: url(images/79440021.JPG);
  }
  20% {
    background-image: url(images/79480034.JPG);
  }
  40% {
    background-image: url(images/79550021.JPG);
  }
  60% {
    background-image: url(images/79550026.JPG);
  }
  80% {
    background-image: url(images/79550034.JPG);
  }
}

.titleBox {
  width: 40vw;
  margin-top: 7rem;
  padding-right: 5rem;
  margin-left: 10rem;
}

.titleText h1 {
  font-size: 5vw;
}

.titleText p {
  font-size: 1.5vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: var(--font-3);
}

button {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: none;
  border-radius: 5px;
  background: var(--color-3);
  text-align: center;
  text-decoration: none;
  font: var(--font-2);
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-top: 3rem;
}

button:hover {
  background-color: white;
  color: var(--color-3);
  transform: scale(1);
  font: var(--font-2);
  font-weight: bold;
}

button:active {
  background: var(--color-3);
  color: white;
  cursor: pointer;
}

button:link {
  color: white;
}

button:visited {
  color: white;
}

/*MARQUEE*/

.marquee {
  display: flex;
  overflow-x: auto;
}

.marquee img {
  margin-right: 1rem;
  max-width: 30%;
}

#marquee {
  background-color: white;
}

/*BOXES*/

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  /* font-family: Arial, Helvetica, sans-serif;
  color: #4a6040; */
}

#boxes {
  background-color: #e3a22a;
  padding-bottom: 3rem;
}
.boxes {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.box1 {
  width: 35vw;
  height: 20vw;
  background: url(images/79480034.JPG);
  margin-right: 3vw;
  border: white 3px solid;
}

.box2 {
  width: 35vw;
  height: 20vw;
  background: url(images/79550034.JPG);
  /* background: #e3a22a; */
  margin-left: 3vw;
  border: white 3px solid;
}

.square {
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #402000;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.square a:active,
.square a:link,
.square a:hover,
.square a:visited {
  text-decoration: none;
  color: #402000;
}

a .box1:hover,
a .box2:hover {
  transform: scale(1.1);
  transition-duration: 0.1;
}
.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.level-type,
.format-type,
.camera-type {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 320px));
  gap: 2rem;
  justify-content: center;
}

.camera img {
  max-width: 100%;
  border: black 2px solid;
}

.camera {
  text-align: center;
}

.cath1,
.intro-camera {
  text-align: center;
  margin: 1rem;
}

.cath1 {
  font-size: 3rem;
}

.camera a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 899px) {
  #welcomeMsg {
    background-color: blue;
  }
}

/*TABLET VIEW*/
@media only screen and (max-width: 899px) {
  #welcomeMsg {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--color-2);
  }

  #slideBG {
    width: 100%;
    height: 100vh;
  }

  .titleBox {
    width: 100vw;
    margin: 0;
    margin-top: 2rem;
    /* margin-left: 2rem; */
    margin-bottom: 3rem;
  }

  .titleText {
    margin-left: 2rem;
  }

  .titleText h1 {
    font-size: 8vw;
    margin-bottom: 0rem;
  }

  .titleText p {
    font-size: 3vw;
    margin-top: 2rem;
  }
}

/*MOBILE VIEW*/
@media only screen and (max-width: 679px) {
  #slideBG {
    width: 100%;
    height: 70vh;
  }

  .titleText h1 {
    font-size: 10vw;
    margin-bottom: 0rem;
  }

  .titleText p {
    font-size: 4vw;
    margin-top: 2rem;
  }

  button {
    padding: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 5px;
    background: var(--color-3);
    text-align: center;
    text-decoration: none;
    font: var(--font-2);
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    transition: all 0.2s ease;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .boxes p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .categories ul li {
    font-size: 1rem;
  }

  .categories {
    flex-wrap: wrap;
  }

  .level-type,
  .format-type,
  .camera-type {
    padding: 1rem;
  }
}

@media only screen and (max-width: 430px) {
  .boxes {
    display: grid;
    grid-area: boxes;
    grid-template-areas:
      "box1"
      "box3";
    padding-top: 0;
  }

  .box1,
  .box2 {
    margin: 1rem;
    width: 70vw;
    height: 35vw;
  }
  .marquee img {
    max-width: 60%;
  }
}

@media only screen and (min-width: 1420px) {
  .products {
    grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  }
}

@media only screen and (min-width: 900px) and (max-width: 1390px) {
  .products {
    grid-template-columns: repeat(auto-fill, minmax(150px, 400px));
  }
}

@media only screen and (max-width: 750px) {
  .products {
    grid-template-columns: repeat(auto-fill, minmax(150px, 450px));
  }
}
