@font-face {
  src: url(fonts/Kayak\ Sans\ Regular.otf);
  font-family: Kayak Regular;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Kayak Regular;
  background-color: blue;
  color: #111;
}

#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c2aa90;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  transform: scale(0);
  transition: 0.5s;
  z-index: 1;
}

#menu-overlay.active {
  transform: scale(1);
}

#menu-overlay ul {
  position: relative;
}

#menu-overlay ul li {
  position: relative;
  list-style: none;
  text-align: center;
  display: block;
}

#menu-overlay ul li a {
  text-decoration: none;
  position: relative;
  font-size: 3em;
  padding: 0 10px;
  margin-bottom: 10px;
  color: #ad4100;
  display: inline-block;
}

#menu-overlay ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ad4100;
  transform: translateY(-50%) scaleX(0);
  transform-origin: right;
  transition: 0.5s transform;
}

#menu-overlay ul li a:hover:before {
  transform: translateY(-50%) scaleX(1);
  transform-origin: left;
  transition: 0.5s transform;
}

#toggleIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  color: #c2aa90;
  cursor: pointer;
}

#toggleIcon p {
  color: antiquewhite;
  font-size: 1.5em;
}

#toggleIcon.active {
  text-decoration: line-through;
  color: #ad4100;
}

#slideBG {
  width: 60%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 8s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url("images/IMG_2539.jpg");
  z-index: -1;
}

@keyframes slideBg {
  0% {
    background-image: url(images/IMG_2539.jpg);
  }
  20% {
    background-image: url(images/IMG_2555.jpg);
  }
  40% {
    background-image: url(images/IMG_2564.jpg);
  }
  60% {
    background-image: url(images/IMG_2576.jpg);
  }
  80% {
    background-image: url(images/IMG_2586.jpg);
  }
}

.titleBox {
  position: absolute;
  right: 1rem;
  top: 0rem;
  width: 35vw;
  height: 100vh;
  margin-right: 1rem;
}

.titleText {
  margin: 1rem;
  margin-top: 10rem;
}

.titleText h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.titleText p {
  font-size: 1.4rem;
}

button {
  position: relative;
  margin-top: 4rem;
  background: cornflowerblue;
  border: solid cornflowerblue;
  color: black;
  padding: 1rem;
  font-size: 1rem;
  font-family: Kayak Regular;
}

button a:link {
  color: black;
}

button a:hover {
  color: black;
}

button:hover {
  background-color: blue;
}

button a:visited {
  color: black;
}
