@font-face {
  src: url(fonts/Kayak\ Sans\ Regular.otf);
  font-family: Kayak Regular;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Kayak Regular;
  background-color: blue;
  color: #111;
}

#slideBG {
  width: 60%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 8s linear infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url("images/IMG_2539.jpg");
  z-index: -1;
}

@keyframes slideBg {
  0% {
    background-image: url(images/IMG_2539.jpg);
  }
  20% {
    background-image: url(images/IMG_2555.jpg);
  }
  40% {
    background-image: url(images/IMG_2564.jpg);
  }
  60% {
    background-image: url(images/IMG_2576.jpg);
  }
  80% {
    background-image: url(images/IMG_2586.jpg);
  }
}

.titleBox {
  position: absolute;
  right: 1rem;
  top: 0rem;
  width: 35vw;
  height: 100vh;
  margin-right: 1rem;
}

.titleText {
  margin: 1rem;
  margin-top: 10rem;
}

.titleText h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.titleText p {
  font-size: 1.4rem;
}

button {
  position: relative;
  margin-top: 4rem;
  background: cornflowerblue;
  border: solid cornflowerblue;
  color: black;
  padding: 1rem;
  font-size: 1rem;
  font-family: Kayak Regular;
}

button a:link {
  color: black;
}

button a:hover {
  color: black;
}

button:hover {
  background-color: blue;
}

button a:visited {
  color: black;
}

.marquee {
  display: flex;
  overflow-x: auto;
}

.marquee img {
  margin-right: 1rem;
  max-width: 30%;
}
